# Introduction au machine learning

Après avoir été embauché chez CoolCorp, startup spécialisée dans l'analyse des desastres maritimes nous tentons de ne pas décevoir notre grand chef vénéré et de lui fournir une analyse un tant soit peu professionnelle concernant les données "train.csv" et "test.csv" que celui-ci à bien voulu nous fournir. 

L'analyse se fera sur la base d'un exemple qu'il nous a fourni nommé Panda.ipynb un fichier ipythonnotebook. 

Note book est un framework pour python qui permet de coder du code dans des cellules et de l'exécuter aussitôt pour voir ce qu'il produit. Il s'accompagne de plusieurs librairies qui permettent d'exécuter du code de programmation sans avoir à tout reprogrammer. 

Nous commençons donc par importer la librairie matplotlib. Celle-ci nous permettra de réaliser des graphiques qui nous permettrons de mieux visualiser notre jeux de données.

In [1]:
import matplotlib
%matplotlib inline

Puis nous importons :
- une librairies qui nous permet de lire et écrire des fichiers csv
- une autre qui nous permet de faire des maths et des tableaux

In [2]:
import csv as csv
import numpy as np

# Commençons par importer ces données : 
- nous mettons les données de train.csv dans un objet "data_all"
- et les donnéesde test.csv dans test_all

In [8]:
data_all = []
with open('train.csv') as train_file:
    csv_reader = csv.reader(train_file, delimiter=',', quotechar='"')
    for row in csv_reader:
        data_all.append(row)
data_all = np.array(data_all)
data = data_all[1::]

test_all = []
with open('test.csv') as test_file:
    csv_reader = csv.reader(test_file, delimiter=',', quotechar='"')
    for row in csv_reader:
        test_all.append(row)
test_all = np.array(test_all)
test = test_all[1::]

# Lire les donnée
Nous souhaitons maintenant lire ces données grâce à l'aide de la librairie Panda.
Nous importons la librairie panda
puis nous lisons le fichier csv grace à pd de panda. Nous mettons les données dans df (comme data frame tableau de données) sans omettre de renseigne la 1ère ligne comme étant des entêtes
Puis nous lisons l'objet df pour les 9 premières données.

In [12]:
import pandas as pd

df = pd.read_csv('train.csv', header=0)
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [13]:
df['Age'][0:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [14]:
df.Age[0:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [15]:
type(df.Age)

pandas.core.series.Series

Commençons par calculer la moyenne d'age des passager

In [17]:
df.Age.mean()

29.69911764705882

Tentons de voir la moyenne d'age des hommes et des femmes'

In [18]:
femmes = data[0::,4] == "female"

In [19]:
hommes = data[0::,4] != "female"

In [22]:
women_onboard = data[femmes,1].astype(np.float)

In [28]:
women_onboard.mean()

0.7420382165605095

In [29]:
men_onboard = data[0::,4] != "female"

In [30]:
men_onboard.mean()

0.6475869809203143

On constate une belle erreur !

In [32]:
men_onboard.head(0)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [33]:
df.Age.mean(femmes)

TypeError: unhashable type: 'numpy.ndarray'

In [38]:
df.dtypes(femmes.Age)

AttributeError: 'numpy.ndarray' object has no attribute 'Age'